<%+cbi/valueheader%>
<input type="checkbox" name="NAME" value="reverse" onclick="reverselog()" style="vertical-align:middle;height: auto;" checked><%:Reverse%></input>
<%if self.timereplace then%>
<input type="checkbox" name="NAME" value="localtime" onclick="chlogtime()" style="vertical-align:middle;height: auto;" checked><%:Use localtime%></input><br/>
<%end%>
<textarea id="cbid.logview.1.conf" class="cbi-input-textarea" style="width: 100%;display:inline" data-update="change" rows="32" cols="60" readonly="readonly"></textarea>
<input type="button" class="cbi-button cbi-button-apply" id="apply_update_button" value="<%:Clear log%>" onclick="apply_del_log()"/>
<input type="button" class="cbi-button cbi-button-apply" value="<%:Download log%>" style="display:inline;" onclick="download_log()"/>
<script type="text/javascript">//<![CDATA[
const lv = document.getElementById('cbid.logview.1.conf');
var islogreverse = true;
var isutc2local = <%=tostring(self.timereplace)%>;
var logPos = 0;
function createAndDownloadFile(fileName, content) {
	var aTag = document.createElement('a');
	var blob = new Blob([content]);
	aTag.download = fileName;
	aTag.href = URL.createObjectURL(blob);
	aTag.click();
	URL.revokeObjectURL(blob);
}
function download_log(){
	const dt = new Date();
	var timestamp = (dt.getMonth()+1)+"-"+dt.getDate()+"-"+dt.getHours()+"_"+dt.getMinutes();
	createAndDownloadFile("AdGuardHome"+timestamp+".log",lv.innerHTML)
}
function apply_del_log(){
	XHR.get('<%=url([[admin]], [[services]], [[AdGuardHome]], [[dodellog]])%>',null,function(x, data){
		lv.innerHTML="";
		logPos = 0;
	});
}
function chlogtime(){
	if (isutc2local){
		lv.innerHTML=line_toUTC(lv.innerHTML).join('\n');
		isutc2local=false;
	}else{
		lv.innerHTML=line_tolocal(lv.innerHTML).join('\n');
		isutc2local=true;
	}
}
function reverselog(){
	lv.innerHTML=lv.innerHTML.split('\n').reverse().join('\n')
	islogreverse = !islogreverse;
}
function p(s) {
	return s < 10 ? '0' + s: s;
}
function line_tolocal(str){
	return str.trim().split('\n').map(function(v) {
		const dt = new Date(v.substring(0,19)+" UTC");
		if (dt != "Invalid Date"){
			return dt.getFullYear()+"/"+p(dt.getMonth()+1)+"/"+p(dt.getDate())+" "+p(dt.getHours())+":"+p(dt.getMinutes())+":"+p(dt.getSeconds())+v.substring(19);
		}else{
			return v;
		}
	});
}
function line_toUTC(str){
	return str.trim().split('\n').map(function(v) {
		const dt = new Date(v.substring(0,19))
		if (dt != "Invalid Date"){
			return dt.getUTCFullYear()+"/"+p(dt.getUTCMonth()+1)+"/"+p(dt.getUTCDate())+" "+p(dt.getUTCHours())+":"+p(dt.getUTCMinutes())+":"+p(dt.getUTCSeconds())+v.substring(19);
		}else{
			return v;
		}
	});
}
function poll_check(){
	(function do_poll(){
		XHR.get('<%=url([[admin]], [[services]], [[AdGuardHome]], [[getlog]])%>' + '?pos=' + encodeURIComponent(logPos), null,
			function(x, data){
				if (!data) return;
				var response = data.content || "";
				if (response.length > 0) {
					if (isutc2local) {
						var lines = line_tolocal(response);
						if (islogreverse) {
							lv.innerHTML = lines.reverse().join('\n') + lv.innerHTML;
						} else {
							lv.innerHTML += lines.join('\n');
						}
					} else {
						if (islogreverse) {
							lv.innerHTML = response.split('\n').reverse().join('\n') + lv.innerHTML;
						} else {
							lv.innerHTML += response;
						}
					}
				}
				if (data.pos !== undefined && data.pos !== null) {
					logPos = parseInt(data.pos, 10) || logPos;
				}

				setTimeout(do_poll, 3000);
			}
		);
	})();
}
<%if self.pollcheck then%>
poll_check();
<%else%>
lv.innerHTML="<%:Please add log path in config to enable log%>"
<%end%>
//]]>
</script>	
<%+cbi/valuefooter%>
